.subscriber {
    height: 30%;
    left: 0;
    position: absolute;
    top: 0;
    width: 30%;
    z-index: 10;
}
.publisher {
    border-radius: 3px;
    bottom: 10px;
    position: absolute;
    width: 360px;
    height: 240px;
    left: 10px;
    z-index: 100;
    box-sizing: border-box;
    float: right;
}
.textFromCandidate {
    position:absolute;
    width:800px;
    height:75px;
    bottom:10px;
    right:25%;
    left:50%;
    margin-left:-400px;  
    border-style: solid; 
    border-color: green;
    text-align: center;
    font-size: 24px;
}
#textchat {
    position: relative;
    width: 20%;
    float: right;
    right: 0;
    height: 100%;
    background-color: #333;
}
#history {
     width: 100%;
     height: calc(100% - 75px);
     overflow: auto;
}
#msgTxt {
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#history .mine {
    color: #00FF00;
    text-align: right;
    margin-right: 10px;
}
#history .theirs {
    color: #00FFFF;
    margin-left: 10px;
}