
#subscriber {
    border-radius: 3px;
    bottom: 100px;
    position: absolute;
    width: 30%;
    height: 30%;
    top: 0;
    left: 0;
}
#publisher {
    border-radius: 3px;
    bottom: 100px;
    position: absolute;
    width: 53.7%;
    height: 89.9%;
    top: 0;
    left: 26.2%;
}
#textchat {
    display: block; 
    position: fixed;
    width: 20%;
    float: right;
    right: 0;
    height: 100%;
    background-color: #333;
}
#history {
    width: 100%;
    height: calc(100% - 220px);
    overflow: auto;
    margin-top: 150px;
}
#msgTxt {
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#history .mine {
    color: #00FF00;
    text-align: right;
    margin-right: 10px;
}
#history .theirs {
    color: #00FFFF;
    margin-left: 10px;
}

#videos #subscriber{
  float: right;
}

#startButton.trainButton:hover{
    background-color: green;
}


#stopButton.trainButton:hover{
    background-color: red;
}